fastapi==0.116.0
uvicorn==0.35.0
sqlalchemy==2.0.41
pymysql==1.4.6
pydantic==2.7.0
python-multipart==0.0.20
aiofiles==23.2.1
cryptography==45.0.5
python-dotenv==1.0.1
scikit-learn==1.7.0
joblib==1.4.2
pandas==2.2.3